<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GEDIA</title>
</head>
<body>
    <img src="img/newlogo.png" alt="Logo" class="logo">
    <h1>Dziś jest: {{data}}</h1>
    <p>Imieniny: {{imieniny}}</p>
    <p id="godzina">Godzina: </p>
    <div id="pogoda"><h3>Pogoda: {{temp}} °C ${{weather_icon}}</h3></div>
    <div id="important_days">{{important_days}}</div>

    

    <script src="script.js"></script>
</body>
</html>